<div class = "container">
    <div class="commentPage">
        <div class="commentPage_title">
            <h2>Followers</h2> 
        </div>
    </div>
    <%= render 'commons/follow', follows: @followers %>
</div>
