<div class="follow_card">
  <% follows.each do |follow| %>
    <div class="follow_card_list">
      <div class="follow_card_content">
        <div class="follow_card_user">
          <%= link_to user_path(follow.id) do %>
            <%= image_tag follow.get_profile_image(100, 100) %>
              <div class="follow_card_user_account">
                <p class="follow_card_user_name"><%= follow.name %></p>  
              </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<hr>